@use "../util" as *;
.header {
	height: fit-content;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: to-rem(40);
	&__logo {
		background-image: url(../../../assets/images/logo-large.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: left center;
		width: to-rem(267);
		height: to-rem(40);
		@include breakpoint-down(small) {
			background-image: url(../../../assets/images/logo-small.svg);
			width: to-rem(40);
			height: to-rem(40);
		}
	}
	&__container {
		display: flex;
		gap: to-rem(10);
		align-items: center;
	}
	&__personal-best {
		display: flex;
		gap: to-rem(10);
	}
	&__icon {
		height: to-rem(18);
		width: auto;
	}
	&__p {
		white-space: nowrap;
		color: var(--neutral-400);
	}
	&__btn-container {
		display: flex;
		gap: to-rem(10);
	}
	&__btn {
		padding: to-rem(6) to-rem(10);
		background: transparent;
		border: to-rem(1) solid var(--neutral-500);
		color: var(--neutral-0);
		border-radius: to-rem(8);
	}
}
