@use "../util" as *;
.test-wrapper {
	&__start-screen {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		position: absolute;
		gap: to-rem(20);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		z-index: 10;
        background-color: var(--neutral-900-shield);
		&.is-active {
			display: none;
		}
	}
	&__btn {
		padding: to-rem(16) to-rem(24);
		background: var(--blue-600);
		color: var(--neutral-0);
		border-radius: to-rem(12);
		border: none;
		font-size: to-rem(24);
	}
	&__p {
		color: var(--neutral-0);
	}
}
