@use '../util' as *;
.stats-bar {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    &__container {
        display: flex;
        gap: to-rem(6);
        align-items: flex-start;
    }
    &__title { 
        color: var(--text-ghost);
        .span {
            color: var(--text-main);
        }
    }
    &__difficulty,
    &__mode {
        display: flex;
        gap: to-rem(10);
        align-items: center;
    }
    &__difficulty,
    &__mode {
        .difficulty-btn,
        .mode-btn {
            padding: to-rem(10) to-rem(6);
            background: transparent;
            border: to-rem(1) solid var(--border-subtle);
            color: var(--text-main);
            border-radius: to-rem(8);
        }
    }
    &__divider {
        width: to-rem(1);
        height: 100%;
        background-color: var(--border-subtle);

    }
}