@use "../util" as *;
.test {
	display: flex;
	flex-direction: column;
	gap: to-rem(64);
	margin-bottom: to-rem(32);
	position: relative;
	@include breakpoint(medium) {
		margin-bottom: to-rem(40);
	}
	@include breakpoint(large) {
		margin-bottom: to-rem(64);
	}
	&__display {
		width: 100%;
		min-height: to-rem(438);
		color: var(--neutral-400);
		.span {
			font-size: to-rem(40);
			line-height: 136%;
			letter-spacing: 1%;
		}
		.correct {
			color: var(--green-500);
		}
		.incorrect {
			color: var(--red-500);
			text-decoration: underline;
		}
		@include breakpoint(medium) {
			font-size: to-rem(20);
			line-height: 1.6;
			min-height: to-rem(648);
		}
		@include breakpoint(large) {
			min-height: to-rem(540);
		}
	}
	&__reset-container {
		padding-top: to-rem(24);
		border-top: to-rem(1) solid var(--neutral-500);
		display: flex;
		justify-content: center;
		@include breakpoint(medium) {
			padding-top: to-rem(32);
		}
	}
	&__restart {
		background: var(--neutral-800);
		border: none;
		color: var(--neutral-0);
		display: flex;
		align-items: center;
		justify-content: center;
		height: to-rem(56);
		padding: to-rem(10) to-rem(16);
		gap: to-rem(10);
		font-size: to-rem(20);
		border-radius: to-rem(12);
		.img {
			width: to-rem(20);
			height: to-rem(20);
		}
	}
}
